@using Library.Domain.Models.Orders;
@using Library.Database.Enums;
@model OrdersListModel
@{
    ViewBag.Title = "Отчеты";
}

<h2><strong>Отчеты</strong></h2>

<form asp-controller="Reports" asp-action="ReportIndex" method="get">
    <p>
        <select asp-for="OrderStatus">
            <option value="All">Статус (все)</option>
            <option value="Booked">Забронированные</option>
            <option value="Given">Выданные</option>
            <option value="Cancelled">Отмененные</option>
            <option value="Returned">Возвращенные</option>
        </select>

        <select asp-for="TimeReport">
            <option value="0">За день</option>
            <option value="10">За неделю</option>
            <option value="20">За месяц</option>
            <option value="30">За все время</option>
        </select>

        <input type="submit" value="Поиск" />

        Поиск со скачиванием файла в формате Excel
        <input type="checkbox" name="save" value="true" class="lead" />
    </p>
</form>

<table class="table">
    <thead>
        <tr bgcolor="#D3D3D3">
            <td><strong>Название книги</strong></td>
            <td><strong>Имя клиента</strong></td>
            <td><strong>Статус</strong></td>
            <td><strong>Дата бронирования</strong></td>
            <td><strong>Дата снятия бронирования</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBooking)
                </td>
                <td>
                    @if (item.OrderStatus != OrderStatus.Booked && item.OrderStatus != OrderStatus.Given)
                    {
                        @Html.DisplayFor(modelItem => item.DateReturned)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
