@using Library.Database.Entities
@model IEnumerable<Library.Domain.Models.Orders.AllOrdersListModel>


@{
    ViewData["Title"] = "AllOrders";
}

<p>
    @if (User.IsInRole(RoleInitialize.Librarian))
    {
        <div class="col-xs-2 no-padding pull-right">
            <a asp-action="BooksList" asp-controller="Books" class="btn btn-default">Вернуться в библиотеку</a>
        </div>
    }
</p>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Список всех забронированных книг</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateBooking)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.BookStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateBooking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <div class="pull-right">
                            @if (User.IsInRole(RoleInitialize.Librarian))
                            {
                                @if (item.BookStatus == Library.Database.Enums.BookStatus.Booked)
                                {
                                    @Html.ActionLink("Выдать книгу", "GiveOutBook", new { id = item.Id })
                                }

                                @if (item.BookStatus == Library.Database.Enums.BookStatus.Given)
                                {
                                    @Html.ActionLink("Вернуть книгу", "ReturnBook", new { id = item.Id })
                                }
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
