@using Library.Database.Entities
@model Library.Domain.Models.Books.BooksListModel


@{
    ViewData["Title"] = "BooksList";
}

<p>
    @if (User.IsInRole(RoleInitialize.Librarian))
    {
        <div class="col-xs-2 no-padding pull-right">
            <a asp-action="CreateBook" class="btn btn-default">Добавить книгу</a>
        </div>
    }
</p>

<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole(RoleInitialize.Librarian))
    {
        <li><a asp-controller="Orders" asp-action="AllOrders">Список всех забронированных книг</a></li>
    }
</ul>

<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole(RoleInitialize.Reader))
    {
        <li><a asp-controller="Orders" asp-action="ReaderOrders">Список забронированных книг</a></li>
    }
</ul>

<form asp-controller="Books" asp-action="BooksList" method="get">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <p>
        <select asp-for="BookAuthor" asp-items="Model.Authors">
            <option value="">Автор (все)</option>
        </select>

        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">Жанр (все)</option>
        </select>

        <select asp-for="BookPublisher" asp-items="Model.Publishers">
            <option value="">Издательство (все)</option>
        </select>

        Название: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Найти" />
    </p>
</form>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Список книг</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Publisher)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookStatus)
                        </th>
                        <th>
                        </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookStatus)
                        </td>

                        <td>
                            <div class="pull-right">
                                @Html.ActionLink("Подробнее", "ViewBook", new { id = item.Id })

                                @if (User.IsInRole(RoleInitialize.Reader))
                                {
                                    @if (item.BookStatus == Library.Database.Enums.BookStatus.Free)
                                    {
                                        @Html.ActionLink("Забронировать", "Reservation", "Orders", new { id = item.Id })
                                    }
                                }

                                @if (User.IsInRole(RoleInitialize.Librarian))
                                {
                                    @if (item.BookStatus == Library.Database.Enums.BookStatus.Free)
                                    {
                                        @Html.ActionLink("Изменить", "EditBook", new { id = item.Id })
                                    }
                                    @if (item.BookStatus == Library.Database.Enums.BookStatus.Free)
                                    {
                                        @Html.ActionLink("Удалить", "DeleteBook", new { id = item.Id })
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>